%font_base {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #444444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @extend %font_base;

    background: #eeeeee;
    padding: 15px;
}

.message_form {
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

    .message_log {
        
        .message_wrapper {
            margin: 0 0 15px;

            * {
                vertical-align: top;
            }

            .owner {
                $height: 28px;

                text-align: center;
                display: inline-block;
                width: $height;
                height: $height;
                line-height: $height;
                border-radius: 50%;
                overflow: hidden;
                background: #aaaaaa;
                color: #ffffff;
                margin: 4px;
            }

            .message {
                padding: 10px 15px;
                border-radius: 4px;
                background: #dddddd;
                display: inline-block;
            }

            .date {
                margin-top: 5px;
            }

            &.self {
                text-align: right;

                .message {
                    background: #009fe3;
                    color: #ffffff;
                }
            }
        }
    }

    .message_input {
        @extend %font_base;

        padding: (10px - 1px) (15px - 1px);
        min-height: 1em;
        max-height: 4em;
        overflow-x: hidden;
        overflow-y: scroll;
        resize: none;
    }
}